{
    margin: 0;
    padding: 0;
}

body{
    width: 1430px;
    padding: 50px;
    background-color: black;
}
h1{
    float: left;
}
h2{

    font-size: 15px;
}
h3{
    color: coral}
h4{
    font-size: 15px;
    color: white}

p{
    font-size: 13px;
}

nav{
overflow: hidden;
    background: black;
    margin-bottom: 30px;
}
nav li{
    overflow: hidden;
    float: left;
    list-style-type: none;
}
nav a{
    text-decoration: none;
    border: none;
    color: #fff;
    border-radius: 0;
    display: block;
    padding: 8px;
    transition: 0.5s;
}
nav a:hover{
    background: #fff;
    color: black;
}
.coutainer{
    width: 900px;
    margin: auto;
}

.main{
    w:600
    overflow: hidden;
    float: left;
    padding: 20px;
}
.sidebar{
    width: 200px;
        padding: 50px;
        margin-left: 10px;
        float: right;
        background: white;
}    
.col-6{
    width: 970px;
    padding: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    color: darksalmon
}
.col-3{
    padding: 5px;
    float: left;
    overflow: hidden;
}
